img
{
width:500px;
height:400px;
float:right;
}

h1
{
font-size:4em;
}

input
{
font-size:3em;
padding:20px;
background-color:lightgreen;
}

p
{
font-size:2em;
}

#quizContainer
{
//background-color:lightgreen;
}