body
{
background-image:url("large.jpg");
}

div
{
margin:100px;
padding:10px;
background-color: rgba(255, 255, 255, 0.5);
}






h1
{
color:Blue;
text-align:left;
font-family:"Jokerman";
font-size:36px;
}
p
{
font-family:"Forte";
font-size:30px;
}
input
{
font-family:"Forte";
font-size:30px;
}
h2
{
color:green;
text-align:right;
font-family:"Forte";
font-size:30px;
}
span
{
color:Blue;
text-align:left;
font-family:"Forte";
font-size:30px;
}