body
{
background-image:url("quizbackground.jpg");
}

div
{
margin:100px;
padding:10px;
background-color: rgba(255, 255, 255, 0.5);
}






h1
{
color:blue;
text-align:left;
font-family:"Jokerman";
font-size:25px;
}
p
{
font-family:"Jokerman";
font-size:22px;
}
input
{
font-family:"Jokerman";
font-size:20px;
}
h2
{
color:blue;
text-align:left;
font-family:"Jokerman";
font-size:22px;
}
span
{
color:blue;
text-align:left;
font-family:"Jokerman";
font-size:22px;
}