body
{
<background="narnia.jpg">
}
h1
{
color:Maroon;
text-align:left;
font-family:"Algerian";
font-size:30px;
}
p
{
font-family:"Arial";
font-size:22px;
}
input
{
font-family:"Arial";
font-size:20px;
}
h2
{
color:DarkSlateBlue;
text-align:left;
font-family:"algerian";
font-size:32px;
}
span
{
color:DarkRed;
text-align:left;
font-family:"bookmanoldstyle";
font-size:20px;
}