/*********************************
*Selecting elements inside an id:
*
*This code selects all p elements inside the element
* whose id is "frontMatter": #frontMatter p
*
*This code makes those elements red, and removes the 
* space between them.:
*   color:red;
*   margin-top:0em;
*   margin-bottom:0em;
*
**********************************/

#frontMatter p
{
color:#000011;
text-align:right;
margin-top:0em;
margin-bottom:0em;

}

#tbilisi
{
margin-top:5px;
}

#tbilisi p
{
color:#555555;
text-align:right;
font-size:.75em;
margin-top:0em;
margin-bottom:0em;
}

/*********************************
*Selecting elements inside a class:
*This code selects all p elements inside any element
* whose class is "criterion": .criterion div
*
*This code puts a solid, blue box around these elements.
* The box will be one pixel wide.
*   border-style:solid;
*   border-width:9px;
*   border-color:blue;
*
**********************************/

.mainheader
{
float:left;
}

body
{
background-color:#9999CC;
}


.criterion div
{

margin-left:15%;
margin-right:2%;
border-style:solid;
border-width:1px;
border-color:#558800;
padding-left:2%;
padding-right:2%;
}

#criterionA
{
margin:-6px;
padding:3px;
background-color:#6766FF;
}

#criterionA h2
{
font-size:3em;
color:#333333;
margin:10px;
}

h3
{
margin-left:30%;
margin-right:15%;
font-size:1.8em;
color:green;
text-align:right;
}

.criterion p
{
text-align:center;
color:darkgreen;
font-size:1.4em;
}

.criterion li
{
margin-left:10%;
margin-right:10%;
color:darkgreen;
font-size:1.4em;
}

#titles h2,h1
{
text-align:right;
color:#339956;
margin-left:10px;
}

#titles h2
{
font-size:1.5em;
}
#titles h1
{
font-size:3em;
}

/*
#techproject
{
position:relative;
top:-300px;
}*/

