body
{
<background="background.jpg">
}
h1
{
color:brown;
text-align:left;
font-family:"Arial";
font-size:25px;
}
p
{
font-family:"Arial";
font-size:22px;
}
input
{
font-family:"Arial";
font-size:20px;
}
h2
{
color:black;
text-align:left;
font-family:"Arial";
font-size:22px;
}
span
{
color:white;
text-align:left;
font-family:"Arial";
font-size:22px;
}