body
{
background-image:url("back.jpg");
}

div
{
margin:100px;
padding:10px;
background-color: rgba(255, 255, 255, 0.8);
}






h1
{
color:Black;
text-align:left;
font-family:"Arial";
font-size:25px;
}
p
{
font-family:"Times New Roman";
font-size:22px;
}
input
{
font-family:"Arial";
font-size:20px;
}
h2
{
color:Black;
text-align:right;
font-family:"Arial";
font-size:22px;
}
span
{
color:Blue;
text-align:middle;
font-family:"Arial";
font-size:28px;
}