img
{
width:500px;
height:400px;
float:right;
}

h1
{
font-size:40px;
color:DarkSeaGreen ;
}

input
{
font-size:30px;
padding:20px;
background-color:DeepPink;
}

p
{
font-size:20px;
color:Salmon;
}

#quizContainer
{
font-size:20px;
}
body{
background-color:DarkCyan;
}

